##### 2.3 변수와 입력

- 변수

In [1]:
pi = 3.1415926535
pi + 2

5.1415926535

In [2]:
radius = 10
print(f'원의 둘레는: {2 * radius * pi}') #2파이r r=반지름
print(f'원의 면적: {pi * radius **2}')

원의 둘레는: 62.83185307
원의 면적: 314.15926535

- 복합 대입 연산자( +=, *=, -=, ...)

In [16]:
odd_sum = 0
for i in range(1, 100, 2):  #i는 1부터 99까지 1부터2의 간격 즉,홀수(1+2,3+2,5+2)인 i만을 선택
    odd_sum += i 
    print(odd_sum)
    #odd_sum 변수의 초기값이 0이므로, i가 1일 때는 odd_sum의 값이 1이 되고, i가 3일 때는 odd_sum의 값이 4

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500

In [7]:
ten_factorial = 1
for i in range (1,11):
    ten_factorial *= i
print(ten_factorial)

3628800

In [9]:
hello = ''
for i in range(3):
    hello += '안녕!'  # hello = '안녕' * 3
print(hello)

안녕!안녕!안녕!

- 표기법

In [ ]:
# Snake notation
my_height = 175  #myHeight js camel notation
my_weight = 70   #myWeight, Java, JS에서 사용

In [13]:
한글변수 = 5
print(한글변수)

5

- 여러개의 변수

In [17]:
x, y, z = 10, 20, 30        # tuple unpacking

In [18]:
# Swapping(x와 y의 값을 서로 바꿈)이 편리
# 일반적인 언어
temp = x
x = y 
y = temp
x, y

(20, 10)

In [19]:
# 파이썬에서는 아래와 같이 사용 가능
x, y = y, x
x, y

(10, 20)

- 값이 없을 경우

In [21]:
x = None # 첫 글자 대문자 / Java ,JS의 null에 해당

- 입력(input)

In [25]:
a = input('Prompt> ')  #입력한 문자는 모두 문자열로 받는다.
a, type(a)

('10', str)

In [26]:
# type 변환을 하지 않으면 엉뚱한 결과가 발생함.
a = input('첫번째 정수를 입력하세요> ') #3
b = input('두번째 정수를 입력하세요> ') #4
a + b

'34'

In [31]:
a = int(input('첫번째 정수를 입력하세요> ')) #3
b = int(input('두번째 정수를 입력하세요> ')) #4
a + b

7

In [34]:
# 인치 단위를 센티미터 단위로 변환
inch = float(input('인치값 입력> '))
cm = inch * 2.54
print(f'{inch} 인치는 {cm:.2f} 센티미터입니다.') # :.2f 소수점 2자리까지

5.4 인치는 13.72 센티미터입니다.

- 입력값 여러개 받기

In [35]:
# 문자열 split() method
'10 20'.split()  # split 괄호안을 생략하면 ' '

['10', '20']

In [36]:
a, b = '10 20'.split() # list unpacking
a, b

('10', '20')

In [37]:
a, b = input('두개의 숫자 입력> ').split() #3 4 3과4사이의 공백으로 입력받은것임
a, b

('3', '4')

In [39]:
a, b = input('두개의 숫자 입력(,로 구분)> ').split(',') #3,4 3과4사이의 ,로 입력받은것임
a, b

('3', '4')

In [40]:
# list 각 원소 (element)에 함수를 적용하는 방법: map
list(map(int, ['10', '20']))    # [int('10'), int('20')]

[10, 20]

In [41]:
a, b = map(int, ['10', '20'])
a, b

(10, 20)

In [51]:
# 첫번째 split()과 두번재 map()을 결합
a, b = map(int, input('두개의 숫자 입력').split()) # 3 4
a, b
a, b, a+b

(3, 4, 7)

In [52]:
# x, y, z 에 세개의 실수 입력값을 지정
x, y, z = map(float, input('세개의 실수 입력').split())
x, y, z, x+y+z

(1.1, 2.2, 3.3, 6.6)

In [60]:
a, b, c, d= map(int, input().split())    
print(int(a+b+c+ d)//4)

50

In [72]:
year, month, day, hour, minute, second = input().split()
print(year, month, day, sep='-' , end='T')
print(hour, minute, second, sep=':')

1999-12-31T10:37:21

3
3
3
False