### 출력 방법

- print(출력하고 싶은 변수/값을 ,로 구분하여 나열, 출력 옵션)

In [1]:
print(3, 4, 5) #기본이 blank로 출력

3 4 5

In [2]:
print(3,4,5) #기본이 blank로 출력

3 4 5

- 출력 옵션
    - sep: separator
    - end: 맨 끝

In [2]:
print(3, 4, 5, sep=', ') # ,로 분리하여 출력

3, 4, 5

In [3]:
print(3, 4, 5, sep='\n') # 줄바꿈으로 출력

3
4
5

In [7]:
print(3); print(4); print(5)

3
4
5

In [5]:
print(3)
print(4)
print(5)

3
4
5

In [12]:
print(3, 4, 5, end=',')

3 4 5,

In [6]:
print(3, end=', ')
print(4, end=', ')
print(5)

3, 4, 5

- 다이아몬드 그리기

In [3]:
for i in range(5):
    s = ''
    for k in range(i+1): # 0+1=1, 1+1=2, ...
        s += '*'
    print(s)

*
**
***
****
*****

In [10]:
for i in range(5):
    for k in range(i+1):
        print('*', end='')
    print()

*
**
***
****
*****

In [6]:
'*' * 0 , '*' * 2

('', '**')

In [7]:
for i in range(5):
    print('*' * (i+1))

*
**
***
****
*****

In [14]:
#AP * 0.6 + 225 AP: 102    286.2
print(102*0.6+225)

286.2