### 4-1. 리스트(List)

In [1]:
# js에서는  person = {키:175, 몸무게:70, 이름:jain}  object
# for (let index of arr(person) )

In [2]:
a = [ 3, 7, 13, 14, 19]
a, type(a)

([3, 7, 13, 14, 19], list)

In [3]:
# 리스트에는 다양한 자료형의 데이터를 사용할 수 있음
person = ['James', 27, 175.3, '남']
person

['James', 27, 175.3, '남']

- 인덱싱

In [4]:
person[0]

'James'

In [5]:
# 슬라이싱 기능
a = [3, 7,13,14,19]
a[1:-1],a[:2],a[3:]

([7, 13, 14], [3, 7], [14, 19])

In [6]:
a[::2], a[::-1]

([3, 13, 19], [19, 14, 13, 7, 3])

- 값 변경

In [7]:
a[1] = 8 # a = [3, 7,13,14,19]
a

[3, 8, 13, 14, 19]

In [8]:
a[2] = [10,20] #값 바꾸기
a

[3, 8, [10, 20], 14, 19]

In [9]:
a[3:] = [24,29] #슬라이싱
a

[3, 8, [10, 20], 24, 29]

In [10]:
a[:2] = [100,200,300] #슬라이싱
a

[100, 200, 300, [10, 20], 24, 29]

In [11]:
# 값 20을 인덱싱
a[3][1]

20

- 빈 리스트 만들기

In [12]:
a = []
b = list()

In [14]:
import random 
for i in range(5):  # 5회반복
    a.append(random.randint(40,100))  # js 에서는append 가 push 
a

[77, 81, 54, 73, 75]

- 리스트 연산

In [20]:
a = [1,2,3]
b = [4,5,6]
a+b, a==b  # 더하기는 concatanation 연결

([1, 2, 3, 4, 5, 6], False)

In [17]:
a * 3 # 곱하기는 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [21]:
len(b) # len은 함수 배열b의 인덱스 개수

3

In [22]:
len('안녕하세요')  # js=> '안녕하세요'.length

5

- tuple
    - 일단 생성되면 값을 수정할 수 없음 (immutable불변)
    (리스트를 상수화(Constantization) 시킨것?)

In [23]:
a = (24, 31, 47 ,5 ,25)
a,type(a)

((24, 31, 47, 5, 25), tuple)

In [27]:
#값을 수정, 추가 할수 없음
# a[2] = 34 # 오류'tuple' object does not support item assignment
# a.append(8) # 오류 tuple' object has no attribute 'append'

In [28]:
# 요소가 하나면 int
b = (24)
type(b)

int

In [29]:
# 요소가 하나일때 ,콤마를 붙여줘야 tuple
c = (24,)
type(c)

tuple

In [30]:
# 요소가 두개 이상일때 괄호 생략가능 tuple
d = 12, 25
type(d)
#빈 튜플은 사용안한다 값을 변경할수 없기 때문에

tuple

- 리스트와 튜플

In [1]:
t = tuple([1,2,3])
l = list((4,5,6))

print(type(t),t ,type(l),l)

<class 'tuple'> (1, 2, 3) <class 'list'> [4, 5, 6]

- 리스트에 문자열 넣기

In [34]:
hello = list('안녕하세요')
hello

['안', '녕', '하', '세', '요']

- 리스트/튜플 언패킹(unpacking)

In [3]:
# 튜플 언패킹(unpacking)
x, y, z = 10, 20, 30
x, y, z     # x, y, z 튜플의 요소들을 x, y, z 변수에 나누어 대입합니다

(10, 20, 30)

In [6]:
x2,y2,z2 = (10, 20, 30)
x2, y2, z2   # x2, y2, z2 튜플의 요소들을 x2, y2, z2 변수에 나누어 대입합니다

(10, 20, 30)

In [7]:
# 리스트 언패킹(unpacking)
xyz = [10, 20, 30]
x, y, z     # 리스트의 요소들을 x, y, z 변수에 나누어 대입한다.

(10, 20, 30)

In [5]:
type(x)

int

In [52]:
x3, y3, z3  = [10, 20, 30]
x3, y3, z3

(10, 20, 30)

In [45]:
x1, y1, z1 = list('ABC')
x1, y1, z1

('A', 'B', 'C')