### 4-1. for 반복문

In [2]:
l = [24,35,27,39,63]
for element in l:
    print(element, end=' ')

24 35 27 39 63

In [3]:
fruits = ['apple', 'banana', 'pineapple']
for fruit in fruits:  # for index(element) in arr(list)
    print(fruit, len(fruit))

apple 5
banana 6
pineapple 9

In [4]:
list_sum = 0
for element in l:
    list_sum += element
print(list_sum, sum(l))

188 188

In [5]:
lengths = []
for fruit in fruits:
    lengths.append(len(fruit))
lengths

[5, 6, 9]

- 중첩 리스트(Nested list)

In [6]:
list_of_list = [
    [1,2,3],
    [4,5,6,7],
    [8,9]
]
list_of_list

[[1, 2, 3], [4, 5, 6, 7], [8, 9]]

In [7]:
for row in list_of_list:  # for element in list
    print(row)

[1, 2, 3]
[4, 5, 6, 7]
[8, 9]

In [8]:
for row in list_of_list:
    for elem in row:
        print(elem, end=' ')

1 2 3 4 5 6 7 8 9

In [9]:
for row in list_of_list:
    for elem in row:
        print(elem, end=' ')
    print()

1 2 3
4 5 6 7
8 9

표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 국어는 90점 이상, 영어는 80점 초과, 수학은 85점 초과, 과학은 80점 이상일 때 합격이라고 정했습니다(한 과목이라도 조건에 만족하지 않으면 불합격). 다음 소스 코드를 완성하여 합격이면 True, 불합격이면 False가 출력되게 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

In [13]:
a,b,c,d = map(int,input().split())
result='True' if a>=90 and b >80 and c>85 and d>=80 else False
print(result)
print(a>=90 and b >80 and c>85 and d>=80)

False

In [14]:
korean = 92
english = 47
mathematics = 86
science = 81
print(korean >= 50 and english >= 50 and mathematics >= 50 and science >= 50)

False

In [15]:
""""Hello", Python"""

'"Hello", Python'

In [19]:
s="""\'Python\' is a \"programming language\"
that lets you work quickly
and
integrate systems more effectively."""
print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

In [22]:
a = tuple([10, 20, 30])
type(a)
print(a)

(10, 20, 30)

표준 입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

In [26]:
step = int(input())
a = tuple(range(-10,10,step))
print(a)

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

표준 입력으로 가격(정수)과 쿠폰 이름이 각 줄에 입력됩니다. Cash3000 쿠폰은 3,000원, Cash5000 쿠폰은 5,000원을 할인합니다. 쿠폰에 따라 할인된 가격을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

In [29]:
price = int(input())
coupon = input()
if coupon == 'Cash3000':
       sum = price - 3000 # price -= 3000
elif coupon == 'Cash5000':
       sum = price - 5000 # price -= 5000
print(sum)

24000

표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 여기서 네 과목의 평균 점수가 80점 이상일 때 합격이라고 정했습니다. 평균 점수에 따라 '합격', '불합격'을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 점수는 0점부터 100점까지만 입력받을 수 있으며 범위를 벗어났다면 '잘못된 점수'를 출력하고 합격, 불합격 여부는 출력하지 않아야 합니다.

In [ ]:
a,b,c,d = map(int, input().split())
(range(0,100))
result='합격' if(a+b+c+d)/4 >=80 else '불합격'b

In [40]:
a,b,c,d = map(int, input().split())
if 0 <= a <= 100 and 0 <= b <= 100 and 0 <= c <= 100 and 0 <= d <= 100:
    if (a+b+c+d)/4 >=80:
        print('합격')
    else:
        print('불합격')
else:
    print('잘못된 점수')

잘못된 점수
합격

표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다.

어린이(초등학생, 만 7세 이상 12세 이하): 650원
청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원
어른(일반, 만 19세 이상): 1,250원

In [ ]:
age = int(input())
balance = 9000    # 교통카드 잔액
if age >=7:
elif 7<= age <= 12:
    balance -650
elif 13<= age <= 18:
    balance -1050
elif 19<= age:
    balance -1250
else:

print(balance)