### 2차원 리스트 
    - 꼭 기억

- 2차원 리스트 (대시 넘파이 어레이)

In [63]:
a = [[10,20], [30,40], [50,60]]
a

[[10, 20], [30, 40], [50, 60]]

In [64]:
# data입체적으로 보기
from pprint import pprint
pprint(a, indent=1, width=20)
#indent는 들여쓰기 칸 수, width는 가로 폭

[[10, 20],
 [30, 40],
 [50, 60]]

In [65]:
import numpy as np
b = np.arange(1,7).reshape(3,2) * 10
b
''' 
먼저 np.arange(1, 7)을 호출하면 1부터 6까지의 수가 저장된 NumPy 배열을 생성합니다. 
이 배열은 [1, 2, 3, 4, 5, 6]와 같은 형태를 가지고 있습니다. 
그리고 이 배열의 reshape(3, 2) 메소드를 호출하여 3x2 크기의 배열로 변환합니다. 
이렇게 하면 배열의 원소들이 다음과 같은 순서로 배치됩니다.
'''

' \n먼저 np.arange(1, 7)을 호출하면 1부터 6까지의 수가 저장된 NumPy 배열을 생성합니다. \n이 배열은 [1, 2, 3, 4, 5, 6]와 같은 형태를 가지고 있습니다. \n그리고 이 배열의 reshape(3, 2) 메소드를 호출하여 3x2 크기의 배열로 변환합니다. \n이렇게 하면 배열의 원소들이 다음과 같은 순서로 배치됩니다.\n'

In [66]:
import numpy as 연습
c = 연습.arange(1,5).reshape(2,2)
c

array([[1, 2],
       [3, 4]])

In [67]:
import numpy as 연습2
d = 연습2.arange(1,13).reshape(4,3) # 총4개인데 3개씩묶어서
d

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [68]:
import pandas as pd
df = pd.DataFrame(b, columns=['첫째열', '둘째열'])
df

   첫째열  둘째열
0   10   20
1   30   40
2   50   60

- 인덱싱

In [69]:
# 30 꺼내기
a[1][0]     # [행 인덱스][열 인덱스]

30

In [70]:
# numpy indexing
b[1, 0]     # [행 인덱스, 열 인덱스]

30

In [71]:
# DataFrame indexing
df['첫째열'][1]     # [열 인덱스][행 인덱스]

30

In [72]:
import pandas as pd2
df1 = pd2.DataFrame(d, columns=['첫째열', '둘째열', '셋째열'])
df1

   첫째열  둘째열  셋째열
0    1    2    3
1    4    5    6
2    7    8    9
3   10   11   12

- 2차원 리스트의 반복문

In [73]:
# a = [[10,20], [30,40], [50,60]]
for row in a:
    print(row)

[10, 20]
[30, 40]
[50, 60]

In [74]:
len(a)

3

In [75]:
for row in a:
    for element in row:
        print(element)

10
20
30
40
50
60

In [76]:
for row in a:
    for element in row:
        print(element, end=' ')
    print()#안에 for문이 끝났을때

10 20
30 40
50 60

- 반복문으로 2차원 리스트 만들기
    - [[10,11],[20,21],[30,31]]

#

In [77]:
# 출력해보기
aa = [[10,11],[20,21],[30,31]]
for row in aa:
    for ae in row:
        print(ae, end=' ')
    print()

10 11
20 21
30 31

In [78]:
for row in aa:
    print(row)

[10, 11]
[20, 21]
[30, 31]

In [79]:
# 출력해보기
for i in range(1,4):
    for k in range(2):
        print(i * 10 + k, end=' ')
    print()

10 11
20 21
30 31

In [80]:
outer_list = []
for i in range(1,4):
    inner_list = []
    for k in range(2):
        inner_list.append(i * 10 + k)
    outer_list.append(inner_list)   #첫번째 for append
pprint(outer_list, width=20)

[[10, 11],
 [20, 21],
 [30, 31]]

In [81]:
# 위코드 표현식으로 list_a = [[...안쪽]바깥쪽]
outer_list = [[i * 10 + k for k in range(2)] for i in range(1,4)]
pprint(outer_list,width=20)

[[10, 11],
 [20, 21],
 [30, 31]]

In [82]:
# 주사위 놀이 3행4열
#6513
#2431
#5632
import random
outg=[]
for i in range(3): # 3행
    innerg = []
    for k in range(4):   # 4열
        innerg.append(random.randint(1,6))
    outg.append(innerg)
pprint(outg, width=20)

[[4, 5, 2, 2],
 [3, 1, 4, 2],
 [2, 2, 6, 2]]

- 리스트 표현식

In [83]:
# 바깥쪽:   [... for i in range(3)]
# 안쪽:     [... for k in range(4)]
outg = [[random.randint(1,6) for k in range(4)] for i in range(3)]
pprint(outg, width=20)

[[3, 3, 6, 1],
 [1, 3, 6, 2],
 [4, 4, 6, 3]]

In [84]:
a = [[10, 20], [30, 40], [50, 60]]
for x, y in a:    # 리스트의 가로 한 줄(안쪽 리스트)에서 요소 두 개를 꺼
    print(x, y)

10 20
30 40
50 60

In [85]:
a = [[10, 20], [30, 40], [50, 60]]
 
for i in range(len(a)):            # 세로 크기
    for j in range(len(a[i])):     # 가로 크기
        print(a[i][j], end=' ')
    print()

10 20
30 40
50 60

In [101]:
# random() > 0.7 --> 지뢰(*), 아니면 .
# 8 x 8 크기
import random
mines=[]
for i in range(8):
    row=[]
    for k in range(8):
        if random.random()>0.7:
            row.append('*') 
        else:
            row.append('.')
    mines.append(row)
############################
for i in range(8):
    for k in range(8):
        print(mines[i][k], end=' ')
    print()

* . . * . * . *
. . . . . . * .
. * . . * * . .
. * . . . . * .
. . * . . * . .
. * . . . . . .
. . * . . . . .
. . * . . * * *

In [ ]:
''' 
random.random() 함수는 0과 1 사이의 임의의 부동소수점 수를 반환합니다. 
따라서 random.random() > 0.7은 약 30%의 확률로 참(True)이 되고, 70%의 확률로 거짓(False)이 됩니다.


위의 코드에서, 만약 random.random() > 0.7이 참(True)이면, '*' 문자를 row 리스트에 추가합니다. 
이는 각 셀에 지뢰가 있을 확률을 약 30%로 설정한다는 의미입니다. 
따라서 0.7이 선택된 이유는 게임의 난이도나 지뢰가 배치될 비율에 따라서 적절한 값을 선택한 것으로 추측됩니다.
'''

In [99]:
mines=[]
for i in range(8):
    row=[]
    for k in range(8):
        mine = '*' if random.random() > 0.7 else '.'
        row.append(mine) 
    mines.append(row)
for i in range(8):
    for k in range(8):
        print(mines[i][k], end=' ')
    print()

. . . * * . . *
. . * * . . * *
* . . * * . * *
. . * . . . . .
. . . * * . * *
. . . . . . . .
. * . . . . . .
. . . . * * . .

In [98]:
mines = [['*' if random.random() > 0.7 else '.' for k in range(8)] for i in range(8)]
for i in range(8):
    for k in range(8):
        print(mines[i][k], end=' ')
    print()

. * * * . . * .
. * . . . . . .
. . * . . . * *
. * * . * . . .
. . . . . . . .
. * * . * . . .
. . * . . * . .
. . . . . . . .